#!/bin/sh

# meilisearch does not support MEILI_MASTER_KEY_FILE, so we export it here for the search service
if [ -f /run/secrets/meili_master_key ]; then
    export MEILI_MASTER_KEY=$(cat /run/secrets/meili_master_key)
fi

echo "....Secrets have been loaded, now run $@...."

# This will exec the CMD from your Dockerfile
exec "$@"
